.App {
  text-align: center;
}

body {
  background-image: url('images/background.png');
  color: white;
}

.Title, h1 {
  justify-content: center;
  text-align: center;
}

.planet-info {
  display: flex;
  padding: 20px;
}

.PlanetCard, .planetCardID {
  font-size: 25px;
  justify-content: center;
  text-align: center;
  width: 450px;
}

.mission-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noNameMission {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.country {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.MissionCard, .missionCardID {
  border: 2px solid white;
  border-radius: 12px;
  font-size: 25px;
  height: 180px;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
  width: 450px;
}
